<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAyg8dij4eZZe-FLCUyzM9tiLsDi0vh1E</string>
	<key>GCM_SENDER_ID</key>
	<string>683547035046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.hansung.ac.kr.kps</string>
	<key>PROJECT_ID</key>
	<string>iosprogramming-e0422</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprogramming-e0422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683547035046:ios:a0d1c65a723e464c173b67</string>
</dict>
</plist>